apiVersion: kubescheduler.config.k8s.io/v1alpha1
kind: KubeSchedulerConfiguration
tlsCertFile: "{{ pillar['ssl']['kube_scheduler_crt'] }}"
tlsPrivateKeyFile: "{{ pillar['ssl']['kube_scheduler_key'] }}"
authentication:
  x509:
    clientCAFile: "{{ pillar['ssl']['ca_file'] }}"
TLSCipherSuites: TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_128_GCM_SHA256
clientConnection:
  kubeconfig: "{{ pillar['paths']['kube_scheduler_config'] }}"
leaderElection:
  leaderElect: true